# Cloudflare DDNS & Anti-DDoS Multi-Node OpenWrt Configuration Example
# Copy this file to /etc/config/cloudflare_ddns and fill in your actual credentials.

config global 'settings'
	option enabled '1'
	option TELEGRAM_BOT_TOKEN '1234567890:ABCdefGHIjklMNOpqrsTUVwxyz_01234567'
	option TELEGRAM_CHAT_ID '987654321'
	option SCRIPT_UPDATE '/usr/bin/action_update.sh'
	option SCRIPT_DELETE '/usr/bin/action_delete.sh'
	option SCRIPT_MONITOR '/usr/bin/monitor.sh'
	option SCRIPT_SYNC '/usr/bin/sync_config.sh'

config node 'master_node'
	option ip '192.168.1.1'
	option ssh_key '/root/.ssh/id_rsa_master'
	option wan_iface 'wan'
	option ddos_threshold '10000'
	option wg_pubkey 'AbCdEfGhIjKlMnOpQrStUvWxYz0123456789+WgPub='
	option wg_port '60000'
	option wg_endpoint 'wg-master.example.com'

config node 'slave_node_1'
	option ip '192.168.2.1'
	option ssh_key '/root/.ssh/id_rsa_slave1'
	option wan_iface 'wan'
	option ddos_threshold '10000'
	option wg_pubkey 'ZyXwVuTsRqPoNmLkJiHgFeDcBa9876543210+WgSlave='
	option wg_port '60000'
	option wg_endpoint 'wg-slave1.example.com'

config domain 'example_domain'
	option ZONE_NAME 'example.com'
	option API_KEY 'vX9zA8bC7dE6fG5hI4jK3lM2nO1pQ0rS'
	option ZONE_ID '0123456789abcdef0123456789abcdef'

config record 'web_app'
	option DOMAIN 'example_domain'
	option SUBDOMAIN 'app.example.com'
	option OWNER 'master_node'
	list partner 'slave_node_1'
	option PROXIED 'false'
	option IPV4 '1'
	option IPV6 '1'
	option TARGET_MAC 'AA:BB:CC:11:22:33'
	option RECORD_ID_V4 ''
	option RECORD_ID_V6 ''
	option DELETE_IF_DOWN '1'
	option CASCADE_ON_DOWN '0'

config record 'wg_master_ddns'
	option DOMAIN 'example_domain'
	option SUBDOMAIN 'wg-master.example.com'
	option OWNER 'master_node'
	option PROXIED 'false'
	option IPV4 '1'
	option IPV6 '1'
	option DELETE_IF_DOWN '0'
	option CASCADE_ON_DOWN '0'

config record 'wg_slave_ddns'
	option DOMAIN 'example_domain'
	option SUBDOMAIN 'wg-slave1.example.com'
	option OWNER 'slave_node_1'
	option PROXIED 'false'
	option IPV4 '0'
	option IPV6 '1'
	option DELETE_IF_DOWN '0'
	option CASCADE_ON_DOWN '0'
